<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyet de</title>
</head>
<body>
    <h1 id='content'>Nội dung câu hỏi</h1>
    <button id="yes" class="btn-answer" data-questionID = "">Đúng/có/phải</button>
    <button id="no" class="btn-answer" data-questionID = "">Sai/không/trái</button>
    <button>Xem câu hỏi khác</button>
    <button class="btn-answer">Xem kết quả</button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $('.btn-answer').click(function() {
            const vote = $(this).attr('id');
            const questionId = $('.btn-answer').attr('data-questionID');
            $.ajax({
                url: "/vote/"+ questionId +"/" + vote,
                type: "GET",
                success: function(data) {
                    window.location.href = "/question/" + questionId;
                    // console.log(data);
                },
                error: function(err) {
                    console.log(err);
                }
            })
        })
        // ==================================== 
        $.ajax({
            url: "/api/random",
            type: "GET",
            success: function(data) {
                // console.log(data);
                $('#content').text(data.question.content);
                $('.btn-answer').attr('data-questionID', data.question.id);
            },
            error: function(err) {
                console.log("Error!!!", err);
            }
        });
    </script>
</body>
</html>